// Book

[module="book"] .container content {
  padding: 7% 30px !important;

  background: rgba($color-dark, .5);

  @include media-breakpoint-up(md) {
    padding: 10% 50px !important;
  }

  p {
    margin: 0;
  }
}
