.navigation {
  height: 120px;

  icon {
    margin: auto 20px;
    line-height: 0;
    font-size: 60px;
  }

  .prev,
  .next {
    position: relative;
    height: 100%;
    transition: all 150ms ease;
    color: $color-light;

    &:hover {
      opacity: .8;
    }
  }

  .prev {
    order: 0;

    text-align: left;
  }

  .next {
    order: 1;

    text-align: right;
  }

  .prev .inner,
  .next .inner {
    position: relative;
    z-index: 1;
    height: 100%;
    font-size: 18px;
    color: $color-light;

    span {
      margin: auto 0 auto 20px;
      display: none;

      @include media-breakpoint-up(sm) {
        display: inline-block;
      }
    }
  }
}
