// Language

.lngs {

  .lngs-dropdown-click {
    position: relative;
    width: 100%;
    margin: 0;

    @include media-breakpoint-up(lg) {
      width: 80px;
      margin-left: 20px;
    }

    .lngs-item-toggle {
      &::after {
        content: '\f123';
        display: block;
        position: absolute;
        right: 20px;
        color: $color-dark;
        border: 0;
        font-family: 'Ionicons';
        top: 50%;
        bottom: auto;
        transform: translateY(-50%);

        @include media-breakpoint-up(lg) {
          color: $color-light;
          right: 12px;
        }
      }
    }

    .lngs-item {
      display: block;
      padding: 15px 25px 18px;
      margin: 0;
      list-style-type: none;
      border: 0;
      cursor: pointer;
    }

    .lngs-flag {
      width: 30px;
    }

    a {
      position: relative;
      display: block;
      text-decoration: none;
      color: $color-light;
      font-size: 16px;
      border: 1px solid $color-light;
      padding: 12px 10px 12px 20px;
      line-height: 1;
      border-radius: $border-radius;
      cursor: pointer;

      @include media-breakpoint-up(lg) {
        padding: 8px 10px;
      }

      &:focus,
      &:hover {
        background: $color-light;
        color: $color-dark;

        &::after {
          color: $color-dark;
        }
      }
    }

    > ul {
      position: relative;
    }

    .lngs-sub-menu {
      visibility: hidden;
      overflow: hidden;
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      border-top: 1px solid $color-lightgrey;
      margin-top: -5px;
      background: $color-light;
      list-style-type: none;
      z-index: 101;
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;

      @include media-breakpoint-up(lg) {
        margin: 0;
      }

      li {
        padding: 0;
      }

      a {
        border-radius: 0;

        &:hover {
          border-color: $color-lightgrey;
          background: $color-lightgrey;
        }
      }
    }
  }

  &.open {
    a {
      background: $color-light;

      &:first-of-type {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    .lngs-item-toggle::after {
      color: $color-dark;
    }

    .lngs-sub-menu {
      visibility: visible;
    }
  }
}
