<div id="fatal" class="fatal">
  <div class="container">
    <h3 class="fatal__text">You need to configure the site configuration.<br>Until that is not done, the theme initialization can not be proceed.</h3>
  </div>
</div>
<script type="text/javascript">
  TE.bodyNoScroll();
</script>
